[2018-09-14 22:37] archenemies opened #3 "clarify readme"
@tillkamppeter you pointed me here from [here](https://github.com/OpenPrinting/cups-filters/issues/61#issuecomment-421454846)

I wanted to say that I read almost to the end of readme.md while trying to answer the question "what is this for?". Maybe you can put something about that at the top, to avoid torturing your readers!

Like, are we connecting a USB printer via USB to a host running your sof

[2018-09-25 13:30] debiantriage commented on #3
Perhaps the Debian wiki will bring you up-to-speed with what driverless printing is:

https://wiki.debian.org/DriverlessPrinting

IPP is used for communication but up to about six years ago it was network-only. Then these people came along and devised an extension to the USB standard which made IPP available over a USB interface. Most modern printers use IPP and printer manufacturers applied the e

[2018-09-25 19:49] archenemies commented on #3
Thank you Brian, that was helpful and I read the Debian link.

If I were to suggest some changes, maybe include both of those links in the README. Currently if you Google "IPP over USB", it turns up this project on GitHub, as well as standards documents, neither of which is very helpful to provide a general context. I also didn't realize that "driverless printing" referred to a specific set of sta

[2019-02-20 22:48] Neustradamus opened #5 "move OpenPrinting/ippusbxd to OpenPrinting/ippusbxd-old and move the original to OpenPrinting/ippusbxd and add commits"
Can you move OpenPrinting/ippusbxd to OpenPrinting/ippusbxd-old
Can you move tillkamppeter/ippusbxd to OpenPrinting/ippusbxd
Add all commits from OpenPrinting/ippusbxd-old to OpenPrinting/ippusbxd

It will be perfect.

https://help.github.com/articles/about-repository-transfers/

[2019-10-22 18:40] tillkamppeter opened #9 "Allow also classic USB connections while ippusbxd is running"
In some cases, for example on a multi-function device which also scans (at least as long the devices do not support driverless IPP scanning), it can make sense to allow classic USB connections while ippusbxd is running.
To do so, one could close the USB connection but keep the ippusbxd daemon running and listening when all conversations (threads) have closed, so that while not printing conventiona

[2019-10-24 16:49] DavieV commented on #9
Yes I think this is doable, I'll look into implementing it when I have the time.

[2019-12-26 17:27] tillkamppeter opened #11 "ippusbxd should poll list of available service (print, scan, ...) from device instead of advertising hard-coded DNS-SD record"
ippusbxd does not only pass on the client conversation from the socket on localhost to the USB channels of the device but also advertises the device's presence via a DNS-SD registration. But there are only done DNS-SD service registrations for the devices web admin interface and for its IPP print service.
It is not taken into account that the actual device can be a multi-function device (printing,

[2019-12-26 17:33] tillkamppeter commented on #11
Note that eSCL (Apple AirScan) scanning does not only work through the network but also through ippusbxd. See the [this thread on the sane-devel mailing list](https://alioth-lists.debian.net/pipermail/sane-devel/2019-December/037339.html) about @Ordissimo's eSCL SANE backend and my suggestion to use it on USB via ippusbxd.

[2019-12-27 01:31] tillkamppeter commented on #11
By the way, I succeeded to scan with SANE via ippusbxd! It worked with the [newly merged](https://gitlab.com/sane-project/backends) "escl" backend from @Ordissimo. One only needs to enter the following data into `/etc/sane.d/escl.conf`:
[code]
So we need a solution for correct DNS-SD registration.

[2019-12-27 07:30] ThierryHFR commented on #11
Le 2019-12-27 02:31, Till Kamppeter a écrit :

Hi Till,
Please open a ticket and provide me with the result of:
avahi-browse -rav

Unfortunately, I don't have an HP AirPrint printer on hand. The
discovery problem for eSCL is only present on this brand.

[2019-12-27 14:13] ThierryHFR commented on #11
Le 2019-12-27 02:31, Till Kamppeter a écrit :

Hi Till
Corrected : https://gitlab.com/sane-project/backends/merge_requests/285
Thierry

[2019-12-27 19:26] tillkamppeter commented on #11
@Ordissimo, thank you very much. I applied your 1-line patch and the DNS-SD discovery of my scanner works now.

[2019-12-27 19:29] tillkamppeter commented on #11
Now we only need the original DNS-SD registration of the devices through ippusbxd.

[2019-12-27 19:52] ThierryHFR commented on #11
I've got a lot to do, but I plan to work on it in February. The task seems simple enough.

[2019-12-27 20:34] tillkamppeter commented on #11
Great, I am looking forward for your contribution.

[2019-12-28 19:13] Ordissimo commented on #11
Since version 1.4 AirPrint, all multifunction devices implement AirScan.My question is simple (I'm in the country, I can't test), isn't a modification like this (https://github.com/Ordissimo/ippusbxd/commit/efe26ecbc3877e86d94ce4afacf20335a4a3a326) enough?

[2020-01-02 01:47] tillkamppeter opened #14 "Web admin interface of printer works only with Firefox, not with Chrome"
When I try to access the web admin interface of my printer connected via ippusbxd using
[code]
it works with Firefox but does not work with Chrome.
I have tested with the HP DeskJet 2540.

[2020-01-02 01:49] tillkamppeter commented on #14
@DavieV, you are probably using Chrome as your standard browser, especially on Chrome OS. Do the printer's admin interfaces work for you.

[2020-01-05 10:40] alexpevzner opened #15 "ippusbxd returns invalid data to TCP clients"
HTTP request, sent to one TCP connection, may eventually be replied to another unrelated connection.

The scenario is following:
* Client connects to TCP port and sends HTTP request. It causes an USB interface to be allocated for the client connection
* Client disconnects before reply is fully received or even before reply is created. USB interface becomes "free" and returned to the pool of free i

[2020-01-06 02:15] tillkamppeter commented on #15
@DavieV, any ideas?

[2020-01-10 13:22] tillkamppeter commented on #15
@alexpevzner, I have now tested everything currently possible (IPP print with CUPS, AirScan/eSCL with both SANE backends, web admin interface including the built-in web scan) on my HP OfficeJet Pro 8730 with your [ipp-usb](https://github.com/alexpevzner/ipp-usb) daemon and it works all perfectly and reliably. So what we need is to transfer this into ippusbxd.

[2020-01-10 15:25] DavieV commented on #15
This is great to hear! Please let me know if there's anything you would like me to assist with. Once this newer system has been integrated into ippusbxd I will work on integrating it with Chrome OS.

[2020-01-10 15:29] DavieV commented on #14
In previous testing I have experienced the same issue of the the web interface only working in Firefox. Looking forward to fixing this with the newer [ipp-usb](https://github.com/alexpevzner/ipp-usb) system.

[2020-01-10 17:18] tillkamppeter commented on #15
@DavieV, what you could cooperate with us now, is testing @alexpevzner's ipp-usb daemon, especially whether it works under Chrome OS and also with all the hardware devices you have access to.

[2020-01-10 17:20] tillkamppeter commented on #14
@DavieV, please test ipp-usb under Chrome OS, so that we can decide about the future of IPP-over-USB support.

[2020-01-10 17:27] tillkamppeter commented on #9
@DavieV, this issue is solved by @alexpevzner's [ipp-usb](https://github.com/alexpevzner/ipp-usb). I have tested it and while the ipp-usb daemon is running I can discover the printer and even print with the CUPS "usb" backend. I could even print with the "usb" backend during a running scan via SANE and ipp-usb.

[2020-01-21 17:53] DavieV commented on #15
Unfortunately it turns out that Go projects aren't allowed in Chrome OS due to their large binary sizes.

In the meantime, I think we'll maintain a fork of the current ippusbxd and work towards implementing the changes that exist in ipp-usb.

[2020-01-21 18:06] tillkamppeter commented on #15
If you are working on taking over the changes of ipp-usb into ippusbxd you are very welcome with this and I would suggest you to submit them here to make ippusbxd better. If you would do it in rather short term (up to mid-February 2020) I would stay with ippusbxd in Ubuntu and not consider a switchover to ipp-usb, only if this is a long-term project, which you will finish only in a year or longer,

[2020-01-22 12:05] alexpevzner commented on #15
Heh, programming language from Google cannot be used on operating system from Google.

Executable size is large, I agree.

However, ipp-usb itself uses memory very carefully. For example, images are streamed between host and device, ipp-usb doesn't try to load entire image into its memory before forwarding it. And it doesn't have any external dependencies, except Avahi and libusb. So final memory

[2020-01-31 15:30] OdyX commented on #5
This seems fixed now that developement happens here first.

[2020-01-31 15:31] OdyX opened #16 "1.34 release ?"
There are a lot if improvements on top of 1.33; care to release ?

[2020-01-31 16:49] tillkamppeter commented on #16
OK, I will release soon.
But note that ippusbxd has important architectural deficiencies an it is recommended to use [ipp-usb](https://github.com/alexpevzner/ipp-usb/) instead. It is written n Go and therefore the executable is larger but this should not be a problem on modern systems. I highly recommend to use that one in Debian.
One of the deficiencies of ippusbxd, not the most important though,

[2020-01-31 19:59] ThierryHFR commented on #16
Le 2020-01-31 17:49, Till Kamppeter a écrit :

Hi @till.kamppeter,
I would push a patch very soon.
The idea of recovering the data in the capabilites file is excellent.
The DNS-SD interface will be dynamic and device specific.

[2020-01-31 23:21] Neustradamus commented on #5
@OdyX: I know, I have requested a move from @tillkamppeter: It is easy to move your repository in OpenPrinting :)
-> https://help.github.com/articles/about-repository-transfers/

[2020-02-05 12:45] tillkamppeter commented on #16
@Ordissimo, any plans when you will post your Pull Request?

[2020-02-05 13:43] ThierryHFR commented on #16
Hi @tillkamppeter,
I'll propose a fix by Monday.

[2020-02-15 00:45] ThierryHFR commented on #11
I think the ticket may be closed. The printer and scanner records are correct.
I tested the web interface with chromium and firefox successfully.

[2020-02-15 07:36] tillkamppeter commented on #11
This is indeed fixed now. Thanks for all your work on this, @Ordissimo.

[2020-02-16 20:46] tillkamppeter commented on #16
@DavieV, @OdyX, please test the additions from @Ordissimo for the DNS-SD advertising of the device. Is this all OK for you? Then I will do the 1.34 release.

[2020-02-17 20:49] tillkamppeter commented on #11
Below is the complete DNS-SD record of the printer part of my HP OfficeJet Pro 8730. I do not know whether one can extract all of these items from the get-printer-attributes IPP request, and there are items which depend on the interface, like the MAC address.
Interesting is the "rfo=ipp/faxout/". This means that the printer has a URI "ipp://HOST:PORT/ipp/faxout" for sending faxes. You can do a get

[2020-02-17 21:18] tillkamppeter commented on #11
Missing in TXT record of both ippusbxd and ipp-usb are:
- Fax
- Scan
- TLS
- mac
- rfo

Fax, Scan, and rfo can be derived by checking the scan and fax URIs (the scan URI you are checking already). mac does not make sense for localhost.
The TXT record of ipp-usb has usb_CMD, which the network record misses. Not really a problem.
Very important: Boolean entries are T, F, or U, never true or false, s

[2020-02-17 22:06] ThierryHFR commented on #11
Le 2020-02-17 21:49, Till Kamppeter a écrit :

Hi Tii,

Here's a little program that will give you all the info you can get with
ippInfo:
# gcc -o ippinfo ippinfo.c -lcups
# ./ippinfo 192.168.0.26 631

[2020-02-17 22:34] tillkamppeter commented on #11
Where do I find this "ippinfo" program?

[2020-02-18 12:53] ThierryHFR commented on #11
I can pick up in "job-creation-attributes-supported "ipp-attribute-fidelity".
I don't know how to get  "job-mandatory-attributes". I'm looking.
This concerns ipp/faxout

[2020-02-18 13:29] ThierryHFR commented on #11
Hi @tillkamppeter
it seems that this attribute is sufficient "ipp-attribute-fidelity", "job-mandatory-attributes" is only available when creating a job.
you need the support of "application/pdf" or "application/openxps".
What do you think?

[2020-02-18 13:49] tillkamppeter commented on #11
I think these ones are really only if you are creating a job. What are you trying to achieve now?
If you want to add the "Fax", "Scan", and "rfo" attributes, you need to check the URI /eSCL for "Scan" (what you are already doing) and if it is there and containing valid info, put a "Scan=T", otherwise a "Scan=F". For the others you check (with IPP) whether there is an /ipp/faxout URI. If so, you se

[2020-02-18 14:56] ThierryHFR commented on #11
Thank you for that clarification.
For TLS, all I get is "uri-security-supported=tls,tls,tls,tls,none."

[2020-02-18 16:45] tillkamppeter commented on #11
Thanks for adding "Scan", "Fax", and "rfo".
Probably it would be correct to set TLS when "uri-security-supported" contains "tls" at least once, but the value of "TLS"  seems to be a version number which we cannot deduct from the IPP response and also to tell whether we can do a secure connection, we already get an extra "_ipps._tcp" record, and on USB I do not even know whether one can do secured

[2020-02-18 19:51] ThierryHFR commented on #11
Indeed the communication with the device is secure.
Doesn't the use of Fax require TLS ?

[2020-02-18 20:14] tillkamppeter commented on #11
AFAIK fax is something old-fashioned of the good old times of analogue phone. There are no modern encryption technologies as TLS, I think there is even no encryption at all available for fax communication. TLS is only used for the connection between the computer and the printer and this only on IP connections (usually network). I think classic USB (no IPP-over-USB) is also always unencrypted.

[2020-02-18 20:33] ThierryHFR commented on #11
So this ticket is resolved?

[2020-02-18 20:38] tillkamppeter commented on #11
I think so, so I will close it and do the 1.34 release. Thank you very much.

[2020-02-18 20:38] #11 closed

[2020-02-19 12:44] tillkamppeter commented on #16
Done:
https://github.com/OpenPrinting/ippusbxd/releases/tag/1.34
Commit: 2b060a9
Thank you very much to everyone who has contributed!

[2020-02-19 12:44] #16 closed

[2020-05-11 12:44] Ordissimo opened #31 "usb is not accessible"
ippusbxd is responsible for several bugs on printers and scanners.
HPLIP does not recognize USB devices.
PIXMA cannot find a device.
To solve the problem just remove ippusbxd.

[2020-05-11 18:13] tillkamppeter opened #32 "ippusbxd crashing on boot up"
See [Ubuntu bug #1877095](https://bugs.launchpad.net/ubuntu/+source/ippusbxd/+bug/1877095):
[code]
In the comments [#10](https://bugs.launchpad.net/ubuntu/+source/ippusbxd/+bug/1877095/comments/10) and [#11](https://bugs.launchpad.net/ubuntu/+source/ippusbxd/+bug/1877095/comments/11) one can see the backtrace of the crash. It seems to be in the poll of eSCL scanner capabilities.
@Ordissimo, could

[2020-05-11 18:17] tillkamppeter commented on #31
@Ordissimo, it would be great if one could modify ippusbxd somehow so that classic USB can still be used, at least if not all channels are occupied by ongoing IPP-over-USB connections. Would this perhaps be possible? Is this possible with [ipp-usb](https://github.com/OpenPrinting/ipp-usb)?

[2020-05-11 18:20] tillkamppeter commented on #31
@Ordissimo, also note that if a device has an IPP-over-USB (7/1/4) interface, that it always supports driverless printing and scanning through this interface (and also through its network interface), so that HPLIP or "pixma" are not needed. Scanning should work via "airscan" or at least "airscan-wsd".

[2020-05-11 18:23] ThierryHFR commented on #31
I didn't try, the french forum is flooded with ippusbxd related problems since the release of focal.
A lot of problem appeared also on the sane queue which is solved by the removal of ippusbxd.

[2020-05-11 18:31] ThierryHFR commented on #31
I don't think that's a good option. If there's a native pilot, there's no point in going through a gateway.
It should be the ultimate solution.

[2020-05-11 18:35] ThierryHFR commented on #32
I'm watching.

[2020-05-11 18:41] tillkamppeter commented on #31
The advantage of using eSCL or WSD protocols for scanning, compared to native, manufacturer/model-specific drivers is, that first eSCL and WSD are easier to reverse-engineer, and second, they are used by many manufacturers, on 1000s of devices, so there are many more users testing the driver code, simple see the list of positively-tested devices in the "[airscan-wsd](https://github.com/alexpevzner

[2020-05-11 18:52] ThierryHFR commented on #32
This should solve this problem

[2020-05-11 18:57] tillkamppeter commented on #32
Fixed by pull request #33
Thank you very much.

[2020-05-11 18:57] #32 closed

[2020-05-11 19:06] ThierryHFR commented on #31
I share this opinion, but the fact remains that native backends (PIXMA or HPLIP) often offer more options than the eSCL backends.
For the device in example below I checked, the Linart option is not available.

**Backend eSCL**
[code]
**Backend hpaio**
[code]

[2020-05-15 12:13] alexpevzner commented on #31
@tillkamppeter,

different devices have different wiring of their USB interfaces. On some devices IPP over USB is shared with USB printer, using the same USB interface with different "alt setting". On other devices USB printer has its own, dedicated interface.

As far as I remember, ipp-usb doesn't claim USB interface, if the interface doesn't implement IPP over USB protocol. Otherwise it claims i

[2020-05-15 12:17] alexpevzner opened #34 "eSCL is not advertised, if system booted with network cable unplugged"
One of my users reported an issue, that eSCL is not advertised, if at the system boot time network cable is not plugged in:

https://github.com/alexpevzner/sane-airscan/issues/27

What is interesting, IPP printer is advertised, while eSCL scanner is not.

I've tried to investigate the problem by myself, but unfortunately, I was not able to reproduce it locally.

[2020-05-15 12:47] ThierryHFR commented on #31
I understand what you're saying and my example is limited to Lineart (that's why you're right).
The PIXMA driver is much more complete than the eSCL :

- PIXMA
[code]
- eSCL protocol
[code]

[2020-05-15 13:19] alexpevzner commented on #31
I see 4 missed features:
* Gamma correction. I bet it is implemented in firmware and doesn't affect hardware. Can be emulated, but I believe GIMP does it better.
* Threshold, which affects how RGB is converted to lineart. As we both agreed, lineart is useless feature
* ADF wait on device without ADF.
* Buttons. Well, buttons can't be implemented over sECL

The major advantage of eSCL that it "just

[2020-05-15 13:52] ThierryHFR commented on #31
It's not a question of stability but of restriction, the PIXMA backend is stable and works very well in USB.
We know how to turn a color image into black and white, not everyone does.
I want to scan a document. I do not ask myself the question of PIXMA, WSD or eSCL.
ESCL works very well with HP LASER JET MFP 178 NW, but, CUPS does not print. HPLIP works again when you uninstall ippusbxd.
A multifu

[2020-05-15 14:26] ThierryHFR commented on #34
Hi @alexpevzner
I wonder if it has something to do with that.
A tip didn't come through, so I'm jumping!
https://github.com/OpenPrinting/ippusbxd/issues/32

[2020-05-15 14:39] alexpevzner commented on #34
I'm not sure these bugs are related. IPP printer still advertised. When process crashes, Ahavi removes all advertisings made by the process.

The sane-airscan bug I've mentioned before contains output of the `avahi-browse -rt -a` command

[2020-05-15 15:12] ThierryHFR commented on #34
I really think it's related,
issue #32 was planting ippusbxd.
All I did was consider the mistake.
If the value is zero, I'm out, so I invalidate the record.
I will try to test this weekend on Canon IR C3250i hoping that it is close enough to the camera in question.

[2020-05-15 15:43] alexpevzner commented on #34
Why it works differently when network cable is connected and when not connected?

[2020-05-15 15:50] tillkamppeter commented on #31
@Ordissimo, if ippusbxd is used with a device, BOTH printing and scanning have to be done driverless, so in case of the HP, scanning is usually working via eSCL, in some cases WSD is required (see compatibility list of the "airscan-wsd" backend project), printing is done via driverless IPP (AirPrint or IPP Everywhere). So do not use HPLIP. Network printing/scanning can also be done without HPLIP.

[2020-05-15 15:57] ThierryHFR commented on #34
Indeed the question is excellent.
Maybe avahi is looking for a network and takes more time (hypothesis).

[2020-05-15 16:00] alexpevzner commented on #34
But IPP printer is advertised in both cases...

[2020-05-15 16:00] tillkamppeter commented on #34
ippusbxd serves for using the device via USB, this is fully independent of whether there is also a network connection available between your computer and your printer.
Generally, it should be easier and more reliable to use your multi-function device via network, especially via wired ethernet. Also a network connection allows easy sharing of the device.
Advanatage of the USB connection is the poss

[2020-05-15 16:01] ThierryHFR commented on #31
Hi @tillkamppeter
That's what I was expecting. But it's not.
The French Ubuntu forum has been filling up since Ubuntu 20.04.
https://forum.ubuntu-fr.org/viewtopic.php?pid=22282112#p22282112

[2020-05-15 16:08] tillkamppeter commented on #31
So ask the user on that forum for the DNS-SD records (via `avahi-discover` or `avahi-browse`). Is the printing part (`_tcp._ipp`) correctly advertised? Does the `driverless` command show the printer when ippusbxd is in use? Is it possible to create a print queue via
[code]
QUEUE must be a new print queue name, URI must be the printer's URI as shown by the `driverless` command.
Does printing work u

[2020-05-15 16:11] alexpevzner commented on #34
Hi @tillkamppeter,

in both cases, device connected to USB and accessed through localhost:60000. The difference is if the network cable connected to the computer at the boot time or not. If connected, eSCL service is advertised, if not connected, it is not advertised. IPP printer advertised in both cases.

[2020-05-15 16:15] ThierryHFR commented on #31
These tests have not been done, these are not experienced users, just good times who with ubuntu 18.04 had a device in working condition.
The HP which I spoke higher up personally posed me a problem.
I asked the customer to lend it to me. I am waiting for his answer.
I will do these tests if he allows me to.

[2020-05-15 16:17] tillkamppeter commented on #34
First, if the network cable is not connected to the computer, does the computer have any network interface (like Wi-Fi for example) or does it have no internet connection at all, leaving "lo" as the only network interface?
Is there in this case any DNS-SD advertisement of the printer by Avahi? Is it only the printing part (`-tcp._ipp`) and not the scanning part (`_tcp._uscan`)? Is ipp-usb doing th

[2020-05-15 16:28] alexpevzner commented on #34
I believe, if cable is not connected, there is only loopback interface, though I didn't ask explicitly. Yes, _ipp._tcp is advertised, _uscan._tcp is not.

And BTW, I requested user to send me a full dump of whatever Avahi discovers. Even if network cable is connected, everything Avahi reports in on loopback anyway.

About ipp-usb, I've asked to try with it, but have no response yet.

[2020-05-15 17:22] ThierryHFR commented on #34
@tillkamppeter, yeah, I'll take a look.
Thank's @alexpevzner

[2020-05-15 21:01] ThierryHFR commented on #34
@alexpevzner it's the scanner detection that's not working.
nothing to do with avahi.
either the http request failed or the returned xml is invalid.
we need to debug ippusbxd.
you think that's possible?

[2020-05-15 21:18] alexpevzner commented on #34
XML should be the same when network cable connected and when not.

I suggest to read source code very carefully and try to understand, what is the difference between _ipp._tcp and _uscan._tcp advertising. Actually, I've tried by myself and have not found anything seriously wrong, but you know this code better, plus functions/variables names are in French :-)

I tried to reproduce the problem, but

[2020-05-15 21:29] ThierryHFR commented on #34
This is where it fails, an http request and an xml parsing.
I'm leaning towards the http request, but no guarantee.
[code]

[2020-05-16 11:53] ThierryHFR commented on #34
I've given it multiple tries.
I never reproduce the bug I mentioned.
We'll need more information to understand the problem.
With and without cable, with and without Wi-Fi
[code]

[2020-05-16 12:42] tangyanli commented on #34
My laptop has no Wi-Fi.
May my scanner have some problem...
Anyway, I will try another scanner and the ipp-usb next week.

[2020-05-16 14:04] ThierryHFR commented on #34
Could you be more specific?
Your distribution and its version.
The version of ippusbxd.

[2020-05-16 16:51] alexpevzner commented on #34
Hi @Ordissimo,

I've already gathered all information here: https://github.com/alexpevzner/sane-airscan/issues/27
In short, this is Ubuntu 20.04 with ippusbxd_1.34-2.

There is also Debian 10 with the same  ippusbxd version and Avahi 0.8, there _uscan._tcp is not advertised at all, regardless of network cable.

Please, follow the link above. There are also various logs, which I didn't duplicate he

[2020-05-16 17:00] ThierryHFR commented on #34
Thank's @alexpevzner
I saw him after I asked.
I need ippusbxd's log.
I know where the code fails, I don't know if it's the http request or if the content returned is wrong to be xml.

[2020-05-16 22:30] tangyanli commented on #34
@Ordissimo
There are another infor that I didn’t mention in the
alexpevzner/sane-airscan#27. Hope it’s helpful.
(1) My scanner is always connected to the network.
(2) On debian 10,  the deamon process (Udev?) seems not to call the ippusbxd. So after OS startup, I invoke the ippusbxd manually (# ippusbxd —bus-device xx:xx —from-port 60000). And I still work out to find way to invoke ippusbxd by dea

[2020-05-16 22:37] alexpevzner commented on #34
ippusbxd -d
It will print a lot of debug output to stdout

Do you have both Debian and Ubuntu on a same machine?

[2020-05-16 22:39] tangyanli commented on #34
Yes, they are on the same machine. May my laotop have some problem...

[2020-05-17 11:06] ThierryHFR commented on #34
@tangyanli
Added debug to the ippusbxd service
[code]
Retrieve logs
[code]

[2020-05-17 12:09] tangyanli commented on #34
@Ordissimo
Thanks a lot, I got it.
The scanner is in my office.
I will retrieve the log tomorrow morning.
I am really sorry for not giving feedback as quick as possible on the weekend.

[2020-05-18 03:27] tangyanli commented on #34
@Ordissimo
After adding "-d", the phenomenon on Ubuntu20.04 made me confused.
But on Debian10, it's clear.

<Case1>
My laptop has no network cable plugged-in.
The scanner is connected to laptop via USB.
I plugged-in and removed the USB cable three times. Each time, I invoked the ippusbxd manually, the phenomenon are the same: Only IPP is advertised.

[ippusbxd1.log](https://github.com/OpenPrinting

[2020-05-18 07:11] ThierryHFR commented on #34
@tangyanli
Thanks for the logs :
Fails :

1. ippusbxd1.log => ligne 24131 => Capabilites[(null)]
2. ippusbxd2.log => ligne 1184 => Capabilites[(null)]
3. ippusbxd3.log => ligne 1185 => Capabilites[(null)]

Ok :

1. ippusbxd4.log => ligne 2202 => Capabilites[<?xml ver...]

The HTTP request always fails at startup with error 405.
The problem can have several causes:
1 - The HTTP device initializatio

[2020-05-18 07:32] tillkamppeter commented on #34
I would start trying with (1), simply add some loop which repeats on failure and quites after a certain number of failed attempts.

[2020-05-18 08:04] alexpevzner commented on #34
HTTP 405 is "Method not allowed".

GET unlikely to be not allowed. I'd put on uninitialized variable.

[2020-05-18 09:03] alexpevzner commented on #34
Oh, now I see.

Failed attempt:

    HEAD /eSCL/ScannerCapabilities HTTP/1.1
    HTTP/1.1 405 Met hod Not Allowed

Successful attempt:

    GET /eSCL/ScannerCapabilities HTTP/1.1
    HTTP/1.1 200 OK

Somebody should understand, when libcups uses HEAD method instead of GET. Browsers use HEAD instead of GET to check if cache is still valid. But libcups is not browser...

[2020-05-18 09:23] ThierryHFR commented on #34
@alexpevzner, Thanks for the analysis!
I'm still doing a GET request, the error is in the HTTP header.

@tillkamppeter I'm trying this approach to make sure we solve the problem. I think the problem lives of libcups as @alexpevzner  suggests [1](https://github.com/OpenPrinting/ippusbxd/issues/34#issuecomment-630015939).

@tangyanli
You will find ippusbxd for ubuntu-20.04 and debian buster.
Can you

[2020-05-18 09:30] tangyanli commented on #34
@Ordissimo
test the ippusbxd_1.34-2buster1.1_amd64.deb or the ippusbxd_1.34-2ubuntu1_amd64.deb?

FYI:
I just tested the ipp-usb on Ubuntu20.04
For ippusbxd (with this issue):
Unplug and plug back USB cable ten times, every time the IPP is advertised, but the eSCL is only advertised 3 times.

For ipp-usb (set mode = standalone):
Also unplug and plug back USB cable ten times, every time the IPP and

[2020-05-18 09:31] ThierryHFR commented on #34
yes

[2020-05-18 09:32] alexpevzner commented on #34
And this is now clear why IPP works all times: IPP uses HTTP POST which is never converted to HTTP HEAD.

I still believe it is possible to force libcups to use GET all times, without converting it to HEAD.

[2020-05-18 09:33] ThierryHFR commented on #34
That would be ideal!

[2020-05-18 10:02] alexpevzner commented on #34
In the ippusbxd:

      if (httpHead(http, ressource))
      {
        if (httpReconnect2(http, 30000, NULL))
        {
          status = HTTP_STATUS_ERROR;
          break;
        }
      }

The `httpHead()` function sends HEAD request. I wonder for what purpose is it used here.

Note, HTTP HEAD is like HTTP GET, but it requests only headers without data. It is used by web browsers to check cac

[2020-05-18 10:50] ThierryHFR commented on #34
I'm testing @alexpevzner 's hypothesis
Can you test with this new version?
[1.34 (2)](https://github.com/Ordissimo/ippusbxd/releases/tag/1.34-2)

[2020-05-18 11:03] tangyanli commented on #34
It’s ok. I will test it tomorrow.

[2020-05-19 02:22] tangyanli commented on #34
@Ordissimo
TestOS: Ubuntu20.04
Test Result:
Unplug and plug back USB cable ten times, every time only the IPP is advertised.
On the debian, the phenomenon is the same. And the log is retrieved on debian.

[ippusbxd_1.34.2.log](https://github.com/OpenPrinting/ippusbxd/files/4647881/ippusbxd_1.34.2.log)

PS:
On both Ubuntu20.04 and Debian10, the ipp-usb works fine, both the IPP and eSCL are advertis

[2020-05-19 06:55] tangyanli commented on #34
@tillkamppeter @Ordissimo
On Debian10, the ippusbxd@xxx:xxx.service always fails. So each time I invokes the ippusbxd manually.
Could you help to give some tips how to resolve it?

[code]

[2020-05-19 14:11] ThierryHFR commented on #34
@tangyanli Thanks for logging back.
The problem is libcups and/or its use.
Multiple attempts do not solve the problem.
Ignoring Head's request doesn't change anything.
I have two solutions:

1. Run ippusbxd later in the system boot.
2. Migrate to libcurl (very tactful).

@tillkamppeter and @alexpevzner, I'd like your opinion!

[2020-05-19 15:31] alexpevzner commented on #34
@Ordissimo,

I suggest to drop HEAD requests at all. There is no any reason to send HEAD request to device. Just do GET or POST, whatever appropriate in your situation.

[2020-05-19 15:34] alexpevzner commented on #34
P.S. And drop `cupsDoAuthentication()` logic as well. It will not authenticate, it has no way to obtain appropriate credentials.

[2020-05-20 06:30] tangyanli commented on #34
@alexpevzner @tillkamppeter @Ordissimo
I may found another issue.
This morning I tested another printer which have fax and scanner.
The ippusbxd always fails, but the ipp-usb works well.

TestOS is Ubuntu20.04
[ippusbxd.log](https://github.com/OpenPrinting/ippusbxd/files/4654967/ippusbxd.log)

PS:
If it's a real issue, I can test again after you fix it. Although I would like to use airscan based o

[2020-05-20 06:54] ThierryHFR commented on #34
I've seen this error before. It happens when ippusbxd is launched at least twice.
I hope that's what happened!

[2020-05-20 07:44] tangyanli commented on #34
@Ordissimo
Thanks a lot.
Actually, the ippusbxd is launched twice.
For the first time it is launched by the ippusbxd@xxx:xxx.service, it fails. The log as below
[code]
So I invoke it again manually.
Do you know the fail reason for the first launching?

[2020-05-20 07:57] ThierryHFR commented on #34
@tangyanli
I'm leaning towards an authorization problem on the Apparmor side!

[2020-05-20 08:05] alexpevzner commented on #34
@tangyanli, thank a lot for your help with testing!

@Ordissimo, why do you think it is related to AppArmor?

[2020-05-20 08:10] ThierryHFR commented on #34
@alexpevzner  => see https://github.com/OpenPrinting/ippusbxd/tree/master/src/apparmor

[2020-05-20 08:12] alexpevzner commented on #34
@Ordissimo, I've already seen. I'm not AppArmor expert, but at the first glance don't see any crime there

[2020-05-20 08:26] ThierryHFR commented on #34
@alexpevzner, I make an assumption not being an Apparmor expert.
Maybe, depending on the OS, the file is not in the right place. The file does not have the access rights, ....

[2020-05-20 16:43] tillkamppeter commented on #34
To check whether AppArmor is in the way for any operation, have a look into the syslog (usually `/var/log/syslog`) and look for lines containing the word "audit" and here especially also containing "DENIED". They contain the process with PID and executable name, which operation got denied.
The commands `aa-complain` and `aa-enforce` can be used to temporary turn off AppArmor restrictions for devel

[2020-05-21 02:36] tangyanli commented on #34
@tillkamppeter
Thanks for your tips.
I truned off AppArmor as below
`aa-complain /usr/sbin/ippusbxd`

On Debian10
When I reboot the PC with USB connected, after PC starts up, the ippusbxd succeeds.
But when I replug and plug back USB, the ippusbxd always fails. So each time I invokes the ippusbxd manually.
Log as below
[code]

[2020-05-21 07:24] tillkamppeter commented on #34
@tangyanli, as you got a better result after turning off AppArmor, I need info where AppArmor was blocking ippusbxd before. Even with AppArmor in complain mode, the appropriate events are still logged. Please run the following command line:
[code]
and attach the resulting file to this bug report. Thanks.

[2020-05-21 08:25] tangyanli commented on #34
@tillkamppeter
In order to test the new code, I compile the code and just copy the ippusbxd into /usr/sbin folder.
So the ippusbxd's privilege may be not correct. I guess it's just a mistake made by me...(?)

[code]
[ippusbxd-apparmor-log.txt](https://github.com/OpenPrinting/ippusbxd/files/4661363/ippusbxd-apparmor-log.txt)

[2020-05-21 08:58] tillkamppeter commented on #34
@tangyanli, the ownerships and permissions of your ippusbxd are correct, they are the same as of the file from the DEB package. But note that if you put your file in place of a package's file the AppArmor rules of the package still apply (if you did not switch to complain mode).

[2020-05-21 09:04] tillkamppeter commented on #34
@tangyanli, @Ordissimo, the reason why the new ippusbxd interferes with AppArmore rules is that it tries somewhere to access `/etc/passwd` and `/etc/nsswitch.conf`. Probably some HTTP functions of libcups do this as they support user authentication. Looks like somehow the calls need to get modified to not do any local use authentication attempts.

[2020-05-21 09:21] tangyanli opened #36 "ippusbxd fails to register my device with error "No page description language info in device ID""
Hello,
The ippusbxd fails to register my device when the device is connected via USB.
Because my device doesn't return correct CMD Info (device-id).

But ipp-usb works well, and the ipp-usb can get pdl info from document-format-supported which returned correctly by my device.

[2020-05-21 09:25] tangyanli commented on #34
@tillkamppeter @Ordissimo @alexpevzner
I found the reason why avahi cannot browse this device.
So I report a new issue https://github.com/OpenPrinting/ippusbxd/issues/36#issue-622369136, please have a look.

[2020-05-21 11:18] alexpevzner commented on #34
@tillkamppeter,

I think, read-only access to `/etc/passwd` and `/etc/nsswitch.conf` should be explicitly enabled in the AppArmor rules. `/etc/nsswitch.conf` used by resolver, and `/etc/passwd` may be used by 3rd party libraries, used by `ippisbxd` for such a common things that obtaining path to current user home directory. This all is out of our control.

[2020-05-21 13:15] ThierryHFR commented on #36
@tillkamppeter and @alexpevzner
I'm still convinced that the problem comes from the packaging since the problem is only present on debian.

[2020-05-21 13:21] alexpevzner commented on #36
@Ordissimo,

regardless of that, it makes sense to drop from the `ippusbxd` the old legacy code, that extracts information from the USB DeviceId, because this source of information is not very reliable, and rely on IPP printer attributes, as `ipp-usb` does.

IPP printer attributes are always reliable, because without them IPP printing will not work

[2020-05-21 13:32] ThierryHFR commented on #36
@alexpevzner , It's partially done, in fact we could use that mechanism

[2020-05-21 13:48] tangyanli commented on #36
@Ordissimo
I am sorry that I didn’t give a clear comment.
This issue is found when I test another device. And it also happens on ubuntu.

[2020-05-21 14:30] tillkamppeter commented on #36
Yes, the USB-Device-ID-based code for finding device capabilities can be removed. IPP/eSCL is much more reliable.

[2020-05-26 07:45] ThierryHFR commented on #36
@tillkamppeter The usb is no longer used for registrations that are based on IPP and eSCL.

[2020-05-26 16:33] tillkamppeter commented on #36
Accepted pull request #37, thanks, @Ordissimo.

[2020-05-26 16:33] #36 closed

[2020-06-01 19:54] fletcherw commented on #15
Hi @tillkamppeter, I'm interested in trying to solve this issue. I'm still reading and understanding RFC 8010 and the ipp-over-usb specification, so please let me know if I am misunderstanding anything.

I think, as Alex said, that we have to support HTTP response parsing. If we don't, then even if we attempt to drain the Bulk IN descriptor of the USB connection when we start a new connection with

[2020-06-01 20:49] tillkamppeter commented on #15
Generally, this is a good idea, but one important goal of the continuation of ippusbxd development is to get an IPP-over-USB implementation which is pure C, for a wide acceptance by the different operating systems.
We currently already have a reliable free software implementation of the IPP-over-USB standard, [ipp-usb](https://github.com/OpenPrinting/ipp-usb) but this is written in Go and therefor

[2020-06-01 21:27] fletcherw commented on #15
I'm glad the high-level approach makes sense. I see the appeal in having a streaming HTTP request/response parser which is scoped only to our use case of determining when a message is finished, but I'm concerned about all of the corner cases that would be better handled in a public library. I like your idea of stripping down an HTTP parser to just support tracking header length.

If your only conc

[2020-06-01 21:50] alexpevzner commented on #15
@fletcherw, @tillkamppeter,

I've already briefly explained in the [ipp-usb's](https://github.com/OpenPrinting/ipp-usb) README what should be done here (and what ipp-usb actually does).

In short:
1. both request and response headers needs to be parsed; request and response body borders needs to be recognized
2. remove/rebuild HTTP hop-by-hop headers, as HTTP proxy should do
3. decouple client-sid

[2020-06-01 22:23] fletcherw commented on #15
Thanks for the clear outline of what needs to be done @alexpevzner.

It would be really nice to have all of these things implemented in ippusbxd. The fact that a lot of that of will require understanding HTTP more deeply than just request/response length makes me think that using a mature HTTP library here would be a good move. I think I could work piece-by-piece to implement these improvements.

[2020-06-01 23:19] alexpevzner commented on #15
HTTP level of abstraction is request, not connection. This is important to understand.

Once all request headers are received from a client, you put request to the queue, waiting for idle USB connection. Once USB connection is available, you send there request header, then request body, if any, then receive response header and response body, then return USB connection to the pool of idle connectio

[2020-06-01 23:33] fletcherw commented on #15
Thanks for clarifying Alex, I understand now what you meant about not blocking the USB connections.

For an HTTP library, I'm really only looking for something that parses request and response headers.

For Chrome OS, we've mitigated the safety concerns via sandboxing and syscall filtering, though this doesn't help others.

The memory footprint really isn't the big deal here, though low memory usa

[2020-06-01 23:45] alexpevzner commented on #15
@fletcherw, just few words more. IPP over USB daemon has legitimate direct access to the raw USB, which gives it a lot of power. I bet, there are even some devices in existence, where system disk is wired to the USB and can be altered this way.

[2020-06-02 08:24] tillkamppeter commented on #15
For me it seems that
https://github.com/h2o/picohttpparser
is the better choice. The C source code is smaller, and the README tells that it is state-less and does not allocate memory, also the Makefile is much simpler.
So if it provides what is needed for ippusbxd and is acceptable by operating systems, especially Chrome OS, let us go this way.

[2020-06-02 22:01] tillkamppeter commented on #15
Ira McDonald suggested these ones:
- https://www.libhttp.org/ - from MIT
- https://github.com/markusfisch/libhttp - lightweight?
- http://www.gnu.org/software/libmicrohttpd/? - GNU - very small
- https://www.freertos.org/https/index.html - Free RTOS
- https://github.com/HISONA/https_client - small HTTP Client
- https://github.com/reagent/http - simple HTTP Client
- https://os.mbed.com/cookbook/HTT

[2020-06-06 00:32] alexpevzner commented on #15
Hi @fletcherw,

if you are only concerned about ChromeOS and supporting printer's web console is not very important to you, you may consider a different, much simpler approach.

In this case, there are actually only 2 clients that works with the printer via `ippusbxd`: eSCL driver and CUPS.

eSCL driver never drops HTTP request in the middle and doesn't use HTTP connection keep-alive, CUPS, I beli

[2020-06-07 12:34] alexpevzner opened #39 "Wrong paper size advertised for HP LaserJet MFP M28"
This bug was actually found in the `ipp-usb`, but because `ippusbxd` borrows paper size detection code from there, I believe it is relevant to `ippusbxd` project too.

See https://github.com/OpenPrinting/ipp-usb/issues/6 for details.

[2020-06-07 12:45] alexpevzner opened #40 "DNS-SD advertising of IPP printer is probably not compatible with iOS"
This bug was recently discovered in the `ipp-usb`, but most likely it is relevant to the `ippusbxd` too.

It can be fixed by registering the `"_universal._sub._ipp._tcp"` subtype of the `"_ipp._tcp"` service type.

Corresponding `ipp-usb` bug is here: https://github.com/OpenPrinting/ipp-usb/issues/4

[2020-06-08 16:30] tillkamppeter commented on #39
@Ordissimo, could you have a look?

[2020-06-08 16:31] tillkamppeter commented on #40
@Ordissimo, could you have a look?

[2020-06-09 22:00] ThierryHFR commented on #39
fix in https://github.com/OpenPrinting/ippusbxd/pull/41

[2020-06-09 22:24] ThierryHFR commented on #40
Hi @tillkamppeter
[code]
in usb detection the parsing of information decided the subtypes:
If  appleraster == 1 then
   suptype = "_universal._sub._ipp._tcp"
else
   suptype = "_print._sub._ipp._tcp"

Do you know if I can get that information without using the usb?

[2020-06-10 00:04] alexpevzner commented on #40
Why not to advertise `_universal._sub._ipp._tcp` always?

[2020-06-10 05:38] ThierryHFR commented on #40
I don't know, I made the wrong "_print._sub._ipp._tcp" choice.

I want to go back to the initial version that uses "Universal" under certain conditions.

[2020-06-10 09:50] tillkamppeter commented on #39
Merged pull request #41. Thank you very much.

[2020-06-10 09:50] #39 closed

[2020-08-05 18:49] tillkamppeter commented on #15
I think there is something which could leas to a solution here. @alexpevzner has issued a [the new version 0.99.12](https://alioth-lists.debian.net/pipermail/sane-devel/2020-August/038084.html) of [sane-airscan](https://github.com/alexpevzner/sane-airscan) and one of the changes is:

So he has removed the use of HTTP libraries in favor of his own HTTP client and using the nodejs http-parser. @Davi

[2020-08-06 08:42] ThierryHFR commented on #15
Hi @tillkamppeter,
I agree with @fletcherw, I'm in favour of using shared libraries.
The binary is smaller and the maintenance lighter.
@alexpevzner analysis shows that my choice to use libcups for request is a mistake.
This is easily resolved.
The initial problem remains to be solved.